/* mobile first */
a {
  color: #f25e21;
  text-decoration: none;
}

nav {
  position: fixed;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 1em;
  background-color: white;
}

.header {
  top: 0;
  box-shadow: 0 5px 10px #eeeeee;
}

.footer {
  bottom: 0;
  box-shadow: 0 -5px 10px #eeeeee;
}

#layout-container {
  margin: 4em 0 0 0;
}

#feed-nav {
  position: sticky;
  top: 0px;
  display: flex;
  border-bottom: 1px solid #eeeeee;
}

#feed-nav a {
  color: gray;
}

#feed-nav a:hover {
  color: black;
}

#feed-nav a:hover .symbol {
  background-color: #eeeeee;
  border-radius: 50px;
}

#feed-nav .tab {
  margin: 0 .5em;
  padding: .5em 1em;
  font-size: .9em;
}

#feed-nav .selected-tab {
  color: black;
  border-bottom: 1px solid black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
