/* design for the smallest screens first!!!!!!!!!!!!!! */

h1 {
  font-family: serif;
}

h2 {
  font-family: sans-serif;
  font-size: 1em;
}

a {
  color: #f25e21;
  text-decoration: none;
}

div.large-screen-layout {
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
}

nav img {
  height: 24px;
}

nav.side-nav {
  height: 100%;
  width: 80px
}  

nav.top-nav {
  top: 0;
  box-shadow: 0 5px 10px #eeeeee;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
}

nav.bottom-nav {
  bottom: 0;
  box-shadow: 0 -5px 10px #eeeeee;
  justify-content: space-evenly;
}

nav ul {
  padding: 0;
  display: flex;
}

.nav-option {
  display: inline;
}

#main-content {
  margin: 3em 0em;
  padding: 32px;
  background-color: #fbfbfb;
}

#feed-nav {
  position: sticky;
  top: 50px;
  /* top position should be programmatically calculated to equal header height, because what if the header height changes in the future? */
  display: flex;
  background-color: #fbfbfb;
  border-bottom: 1px solid #eeeeee;
}

#feed-nav a {
  color: gray;
}

#feed-nav a:hover {
  color: black;
}

#feed-nav a:hover .symbol {
  background-color: #eeeeee;
  border-radius: 50px;
}

#feed-nav .tab {
  margin: 0 .5em;
  padding: 1em;
  font-size: .9em;
}

#feed-nav .selected-tab {
  color: black;
  border-bottom: 1px solid black;
}

article {
  margin: 36px 0;
  border-bottom: 1px solid #eeeeee;
}

div.card-header {
  display: flex;
  align-items: center;
}

img.profile-thumbnail {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
  display: inline;
}

div.post-summary {
  display: flex;
}

div.author-date-container {
  margin: 0 0 0 8px;
  height: 100%;
  font-weight: 400;
  font-size: .92em;
  display: inline;
}

div.blurb-container {
  width: calc(100% - 100px);
  display: inline-block;
  flex: 1 1 auto;
}

img.blurb-thumbnail {
  width: 80px;
  height: 56px;
  object-fit: cover;
  margin: 0 0 0 20px;
  display: block;
}

p.blurb {
  display: none
}

.App {
  text-align: left;
}

/* figure out how to use CSS animations to make a skeleton loader */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 728px) {
  h2 {
    font-size: 1.2em;
  }

  img.blurb-thumbnail {
    width: 112px;
    height: 112px;
  }  
  
  p.blurb {
    display: block
  }  
}

@media only screen and (min-width: 600px) {
  h2 {
    font-size: 1.2em;
  }

  img.blurb-thumbnail {
    width: 112px;
    height: 112px;
  }  
  
  p.blurb {
    display: block
  }
  
  #feed-nav {
    width: 670px;
  }

  #postlist {
    width: 670px;
  }
}

@media only screen and (min-width: 1080px) {
  nav.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  nav.top-nav {
    display: none
  }

  nav.bottom-nav {
    display: none;
  }

  div.small-screen-layout {
    width: auto;
  }  

  #feed-nav {
    width: 100%;
    top: 0px;
  }
}