/* design for the smallest screens first!!!!!!!!!!!!!! */
/* add in some breakpoints later */

h1 {
  font-family: serif;
}

h2 {
  font-family: sans-serif;
  font-size: 1.2em;
}

a {
  color: #f25e21;
  text-decoration: none;
}

nav {
  position: fixed;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 1em;
  background-color: white;
}

.header {
  top: 0;
  box-shadow: 0 5px 10px #eeeeee;
}

.footer {
  bottom: 0;
  box-shadow: 0 -5px 10px #eeeeee;
}

#layout-container {
  margin: 3em 0em;
  padding: 1em;
  background-color: #fbfbfb;
}

#feed-nav {
  position: sticky;
  top: 50px;
  /* top position should be programmatically calculated to equal header height, because what if the header height changes in the future? */
  display: flex;
  background-color: #fbfbfb;
  border-bottom: 1px solid #eeeeee;
}

#feed-nav a {
  color: gray;
}

#feed-nav a:hover {
  color: black;
}

#feed-nav a:hover .symbol {
  background-color: #eeeeee;
  border-radius: 50px;
}

#feed-nav .tab {
  margin: 0 .5em;
  padding: 1em;
  font-size: .9em;
}

#feed-nav .selected-tab {
  color: black;
  border-bottom: 1px solid black;
}

img.profile-icon {
  width: 24px;
  border-radius: 50%;
  display: inline;
}

div.post-metadata {
  text-align: left;
}

div.author-date {
  margin: 0 0 0 8px;
  height: 100%;
  font-weight: 400;
  font-size: .92em;
  display: inline;
}

/* how do i center this text vertically? */
div.author-date * {
  padding: auto 0;
  align-items: center;
  vertical-align: middle;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
