/* Note to self
Use mixins to animate CSS keyframes and make a skeleton loader!!!
Frank would love that shit

https://marksheet.io/sass-mixins.html

Also, you can use @extend to reuse CSS selectors
https://marksheet.io/sass-extend.html

*/

// Colours
$orange: #f25e21;
$white: #ffffff;
$black: #000000;
$cloud-grey: #eeeeee;
$charcoal-grey: #111111;
$grey: #808080;

$primary-color: $orange;
$secondary-color: $black;

$primary-background: $white;
$secondary-background: $cloud-grey;

// Fonts
$serif:               "Lora", "Playfair Display", Georgia, "Times New Roman", Times, serif;
$sans-serif:          "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
$monospace:           "Inconsolata", monospace;

$primary-font:        $sans-serif;
$secondary-font:      $serif;

// Spacing
$vertical-layout-nav-height: 54px;
$thumbnail-width-desktop: 112px;

// Browser compatibility
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Design for the smallest screens first!!!
.App {
  text-align: left;
}

h1 {
  font-family: $secondary-font;
}

h2 {
  font-family: $primary-font;
  font-size: 1em;
}

p {
  font-family: $secondary-font;
}

a {
  color: $primary-color;
  text-decoration: none;
  h1, h2 {
    color: $secondary-color;
  }
}

div.horizontal-layout {
  display: flex;
  flex-direction: row;
}

nav {
  position: fixed;
  width: 100%;
  background-color: $primary-background;
  display: flex;
  align-items: center;
  justify-content: center;
  &.side-nav {
    height: 100%;
    width: 80px;
    border-right: 1px solid $secondary-background;
    display: none;
    img {
      height: 32px;
      width: 32px;
      padding: 15px;
    }
  }
  &.top-nav {
    top: 0;
    height: $vertical-layout-nav-height;
    box-shadow: 0 5px 10px $secondary-background;
    align-items: center;
    justify-content: space-between;
    z-index: 499;
    img {
      height: 24px;
    }
    .nav-list {
      align-items: center;
      padding: 0 10px;
    }
  }
  &.bottom-nav {
    bottom: 0;
    height: $vertical-layout-nav-height;
    box-shadow: 0 -5px 10px $secondary-background;
    justify-content: space-evenly;
    z-index: 498;
    .nav-list {
      width: 100%;
      img {
        height: 24px;
        padding: 13px 15px;
      }
    }
  }
  &.side-bar {
    height: 100%;
    width: 280px;
    padding: 40px 32px;
    display: none;
    z-index: 497;
  }  
  .nav-list {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    * {
      display: inline;
    }
  }
}

div#main-content {
  margin: 3em 0em;
  padding: 32px;
}

#feed-nav {
  position: sticky;
  top: $vertical-layout-nav-height;
  display: flex;
  background-color: $primary-background;
  border-bottom: 1px solid $secondary-background;
  z-index: 399;
  a {
    color: $grey;
    &:hover {
      color: $secondary-color;
      .symbol {
        background-color: $secondary-background;
        @include border-radius(50%);
      }
    }
  }
}

#feed-nav .tab {
  margin: 0 .5em;
  padding: 1em;
  font-size: .9em;
  &.selected {
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
  }
}

article {
  padding: 36px 0;
  border-bottom: 1px solid $secondary-background;
  div.wrapper {
    display: flex;
    justify-content: space-between;
    div.card-header {
      display: flex;
      align-items: center;
      height: 100%;
      img.profile-thumbnail {
        width: 24px;
        height: 24px;
        object-fit: cover;
        @include border-radius(50%);
        display: inline;
      } 
      div.author-date-container {
        margin: 0 0 0 8px;
        height: 100%;
        font-weight: 400;
        font-size: .92em;
        display: inline;
      }   
    }

    div.card-footer {
      display: flex;
      justify-content: space-between;
    }
  }

  div.card-body {
    display: flex;
    div.blurb-container {
      flex: 1 1 auto;
      p.blurb {
        display: none
      }      
    }
    img.post-thumbnail {
      width: 80px;
      height: 56px;
      object-fit: cover;
      margin: 0 0 0 20px;
      display: block;
    }
  }
  * .tag {
    color: $black;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    background-color: $cloud-grey;
    padding: 2px 8px;
    @include border-radius(100px);
    transition: background 300ms ease 0s;
  }
  * .thumbnail-width {
    display: none;
  }
}

div.button {
  padding: 8px 16px;
  margin: 0px 10px;
  @include border-radius(100px);
  &.primary-button {
    border: 1px $primary-background solid;
    background-color: $primary-color;
    color: $primary-background;
  }
  &.secondary-button {
    border: 1px $secondary-background solid;
  }
  &.icon-button {
    width: 35px;
    height: 35px; // this is just font size + padding
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    @include border-radius(50%);
  }
}

div.modal-dialog {
  box-shadow: $secondary-color 0px 2px 10px;
  border-radius: 4px;
  transform-origin: center bottom 0px;
  animation: popup 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal forwards running;
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(.1);
}
25% {
  transform: scale(.9);
}
100% {
  opacity: 1;
  transform: scale(1);
}
}

// Now onto bigger viewports!

@media only screen and (min-width: 728px) {
  h2 {
    font-size: 1.2em;
  }

  div.vertical-layout {
    width: 100%;
  }

  article {
    div.card-body {
      img.post-thumbnail {
        width: $thumbnail-width-desktop;
        height: $thumbnail-width-desktop;
      }
      div.blurb-container {
        p.blurb {
          display: block;
        }
      }
    }
    * .thumbnail-width {
        width: $thumbnail-width-desktop;
        display: inline-block;
    }
  }
 
  #postlist {
    width: 670px;
  }
}

@media only screen and (min-width: 756px) {  
  div#main-content {
    width: 692px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1080px) {
  nav {
    &.side-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &.top-nav {
      display: none
    }
    &.bottom-nav {
      display: none;
    }
    .nav-list {
      flex-direction: column;
    }
  }

  #feed-nav {
    width: 100%;
    top: 0px;
  }
}